@charset "UTF-8";
body {
  margin: 0;
  padding: 0;
  font: 16px/24px Arial, Tahoma, sans-serif; }

.mid {
  width: 1000px;
  margin: 0 auto; }

/*Шапка сайта*/
.contacts > ul, .authorizations > ul, .mid > .menu > ul, .menu-products ul, .block .about-product ul, .f-nav > .menu ul, .f-contacts ul {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0; }

.header {
  display: flex;
  align-items: center;
  justify-content: space-between; }

.contacts > ul {
  display: flex; }
  .contacts > ul li {
    color: #303030;
    margin: 0 20px;
    font-size: 20px;
    font-weight: bold; }

.authorizations > ul {
  display: flex; }
  .authorizations > ul li {
    margin: 0 20px;
    font-size: 18px; }
    .authorizations > ul li a {
      text-decoration: none;
      color: #303030; }
      .authorizations > ul li a:hover {
        color: #00a2e8; }

/*Меню сайта*/
.contacts > ul, .authorizations > ul, .mid > .menu > ul, .menu-products ul, .block .about-product ul, .f-nav > .menu ul, .f-contacts ul {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0; }

.wrapper-menu {
  background: #00a2e8; }

.mid > .menu > ul {
  display: flex;
  justify-content: center; }
  .mid > .menu > ul li a {
    display: block;
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    padding: 20px; }
    .mid > .menu > ul li a:hover {
      background: #303030;
      color: #ffffff; }

/*Контент*/
.content {
  display: flex;
  justify-content: space-between; }
  .content .left {
    flex-basis: 240px; }
  .content .center {
    flex-basis: 740px; }

/*Левая часть*/
.contacts > ul, .authorizations > ul, .mid > .menu > ul, .menu-products ul, .block .about-product ul, .f-nav > .menu ul, .f-contacts ul {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0; }

.menu-products {
  margin-top: 20px;
  margin-bottom: 20px; }
  .menu-products ul > li {
    position: relative; }
  .menu-products ul li a {
    text-decoration: none;
    color: #303030;
    display: block;
    padding: 20px;
    border: 1px solid #00a2e8;
    margin-bottom: -1px; }
    .menu-products ul li a:hover {
      background: #303030;
      color: #ffffff; }
  .menu-products ul li:hover .sub-menu {
    display: block; }

.menu-products .sub-menu {
  position: absolute;
  display: none;
  z-index: 10;
  left: 238px;
  border-left: 2px solid #00a2e8; }
  .menu-products .sub-menu a {
    background: #ffffff; }

.sub-menu-notebook, .sub-menu-phone {
  top: 0px; }
  .sub-menu-notebook a, .sub-menu-phone a {
    width: 210px; }

/*Центральная часть*/
.contacts > ul, .authorizations > ul, .mid > .menu > ul, .menu-products ul, .block .about-product ul, .f-nav > .menu ul, .f-contacts ul {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0; }

/*Афиша*/
.center > .afisha {
  margin-top: 20px; }

.center > .afisha > img {
  width: 740px; }

/*Блоки товаров*/
.blocks {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between; }

.block {
  border: 1px solid #cccccc;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 35px; }
  .block:hover {
    transform: scale(1.1);
    transition: transform 0.7s; }
  .block .img-product > img {
    width: 310px; }
  .block .about-product ul {
    text-align: center; }
    .block .about-product ul li {
      margin-bottom: 10px; }
      .block .about-product ul li:first-child {
        margin-top: 20px;
        font-size: 18px; }
      .block .about-product ul li:nth-child(2) {
        text-decoration: line-through; }
      .block .about-product ul li:last-child {
        font-size: 26px;
        margin-bottom: 20px; }
  .block .button-add-basket a {
    display: block;
    text-decoration: none;
    padding: 10px;
    background: #00a2e8;
    text-align: center;
    color: #ffffff; }
    .block .button-add-basket a:hover {
      background: #303030;
      color: #ffffff; }

.hot-products h1, .leaders-products h1 {
  font-weight: normal; }

/*Футер*/
.contacts > ul, .authorizations > ul, .mid > .menu > ul, .menu-products ul, .block .about-product ul, .f-nav > .menu ul, .f-contacts ul {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0; }

.clearfix::after {
  content: "";
  display: table;
  clear: both; }

.wrapper-footer {
  margin: 0;
  padding: 0;
  background: #303030; }

.f-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px; }
  .f-container h2 {
    margin: 20px 0px;
    padding: 0;
    color: #ffffff; }

.f-nav > .menu ul li {
  margin: 10px 0;
  padding: 0; }
.f-nav > .menu ul a {
  text-decoration: none;
  color: #ffffff; }
  .f-nav > .menu ul a:hover {
    color: #00a2e8; }
.f-nav > .menu ul label {
  margin: 0;
  padding: 0;
  font-size: 16px; }
  .f-nav > .menu ul label:hover {
    color: #00a2e8; }

.f-contacts ul {
  color: #ffffff; }
  .f-contacts ul li {
    margin: 10px 0;
    padding: 0; }

.copy {
  border-top: 1px solid #00a2e8;
  text-align: center;
  padding: 20px 0;
  color: #ffffff; }

/*Модальное окно*/
.contacts > ul, .authorizations > ul, .mid > .menu > ul, .menu-products ul, .block .about-product ul, .f-nav > .menu ul, .f-contacts ul {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0; }

.popup-checkbox, .popup {
  display: none; }

.popup-checkbox:checked + .popup {
  display: block;
  opacity: 1; }

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 10; }
  .popup:before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #000000;
    opacity: 0.5;
    z-index: 1; }

.popup-content {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 400px;
  height: 550px;
  box-sizing: border-box;
  margin: auto;
  background: #ffffff;
  z-index: 2;
  border: 1px solid #cccccc;
  padding: 20px; }

.popup-closer {
  position: absolute;
  top: -33px;
  right: -32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #cccccc;
  width: 30px;
  height: 30px;
  font-size: 30px;
  color: #ffffff; }
  .popup-closer:hover {
    background: #303030;
    cursor: pointer; }

.popup-shower {
  display: block;
  font-size: 18px;
  color: #ffffff;
  padding: 20px; }
  .popup-shower:hover {
    background: #303030;
    color: #ffffff;
    cursor: pointer; }

.feedback-content {
  width: 100%;
  height: 100%; }

.feedback-content, .row {
  display: flex;
  flex-flow: column nowrap;
  margin: 0 0 20px 0;
  color: #303030; }
  .feedback-content h2, .row h2 {
    text-align: center;
    margin: 0 0 20px 0;
    padding: 0; }
  .feedback-content label, .row label {
    text-align: center; }
  .feedback-content .txt, .row .txt {
    height: 30px;
    font-size: 18px; }
  .feedback-content .txtarea, .row .txtarea {
    height: 130px; }
  .feedback-content .feedback-button, .row .feedback-button {
    display: flex;
    justify-content: center; }
    .feedback-content .feedback-button #submitbtn, .row .feedback-button #submitbtn {
      border: none;
      padding: 10px;
      text-transform: uppercase;
      background: #00a2e8;
      color: #ffffff;
      font-size: 16px; }
      .feedback-content .feedback-button #submitbtn:hover, .row .feedback-button #submitbtn:hover {
        background: #303030; }

.label {
  display: flex;
  justify-content: space-between; }
  .label .fail {
    font-size: 14px;
    color: #ff0000; }

/*# sourceMappingURL=styles.css.map */
