@import "../templates";

.wrapper-menu{
  background: $AQUA_COLOR;
}

.mid>.menu>ul{
  @extend %ul-clear;
  display: flex;
  justify-content:center;
  li {
    white-space: nowrap;
    a{
      display: block;
      text-decoration: none;
      color: $WHITE_COLOR;
      font-size: 18px;
      padding: 20px;
      &:hover{
        background: $DARK_GREY_COLOR;
        color: $WHITE_COLOR;
      }
    }
  }
}



#fixed-menu{
  position: fixed;
  top:0;
  z-index: 100;
  width: 100%;
}