@import "templates";

/*Афиша*/
.center>.afisha{
  margin-top: 20px;
}

.center>.afisha>img{
  width: 740px;
}

/*Блоки товаров*/

.blocks{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.block{
  border: 1px solid $LIGHT_GREY_COLOR;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 35px;

  &:hover{
    transform: scale(1.1);
    transition: transform 0.7s;
  }

  .img-product>img{
    width: 310px;
  }

  .about-product ul{
    @extend %ul-clear;
    text-align: center;

    li{
      margin-bottom: 10px;
      &:first-child{
        margin-top: 20px;
        font-size: 18px;
      }

      &:nth-child(2){
        text-decoration: line-through;
      }

      &:last-child{
        font-size: 26px;
        margin-bottom: 20px;
      }
    }
  }

  .button-add-basket{
    a{
      display: block;
      text-decoration: none;
      padding: 10px;
      background: $AQUA_COLOR;
      text-align: center;
      color: $WHITE_COLOR;
      &:hover{
        background: $DARK_GREY_COLOR;
        color: $WHITE_COLOR;
      }
    }
  }
}

.hot-products,.leaders-products{
  h1{
    font-weight: normal;
  }
}



