body{
  margin: 0;
  padding:0;
  font: 16px/24px Arial, Tahoma, sans-serif;
}

div.mid{
  width: 1000px;
  margin: 0 auto;
}



/*Шапка сайта*/

@import "include/header";


/*Меню сайта*/
@import "include/menu";


/*Контент*/
.content{
  display: flex;
  justify-content: space-between;
  .left{
    flex-basis: 1000-740-20px;
  }
  .center{
    flex-basis: 740px;
  }
}

/*Левая часть*/
@import "include/left";

/*Центральная часть*/
@import "include/center";

/*Футер*/
@import "include/footer";


/*Модальное окно*/
@import "include/popup";

/*Адаптивный дизайн*/
@media screen and (max-width: 999px){
  div.mid{
    width: 95%;
  }
}